data/results
!data/results/.gitkeep
data/scraped-urls.json

node_modules

data/config.ts

*.log
/dist
/build
/coverage

**/*.log

**/.DS_Store

.trash
.idea

tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo