<html lang="hu">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{name}} - Lakások, albérletek</title>

    <link rel="stylesheet" href="https://ingatlan.com/build/app.css?v=627b155c253c2e6c361f">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;family=Red+Hat+Display:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet" as="style" onload="this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&amp;display=block" rel="stylesheet" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://ingatlan.com/build/listings-page.css?v=4526627be018c3816cd8">
    <link rel="shortcut icon" href="https://ingatlan.com/images/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://ingatlan.com/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://ingatlan.com/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://ingatlan.com/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://ingatlan.com/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://ingatlan.com/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://ingatlan.com/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://ingatlan.com/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://ingatlan.com/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://ingatlan.com/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://ingatlan.com/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://ingatlan.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://ingatlan.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="mask-icon" href="https://ingatlan.com/images/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="alternate" hreflang="en" href="https://realestatehungary.hu/lista/kiado+lakas+100-m2-alatt+van-legkondi+i-ker+ar-szerint-csokkeno">
    <link rel="alternate" hreflang="de" href="https://immobilienungarn.net/lista/kiado+lakas+100-m2-alatt+van-legkondi+i-ker+ar-szerint-csokkeno">
    <link rel="alternate" hreflang="hu" href="https://ingatlan.com/lista/kiado+lakas+100-m2-alatt+van-legkondi+i-ker+ar-szerint-csokkeno">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="https://ingatlan.com/images/favicons/msapplication-square-144x144.png">
    <meta name="theme-color" content="#d35630">
    <meta name="msapplication-square70x70logo" content="https://ingatlan.com/images/favicons/msapplication-square-70x70.png">
    <meta name="msapplication-square150x150logo" content="https://ingatlan.com/images/favicons/msapplication-square-150x150.png">
    <meta name="msapplication-wide310x150logo" content="https://ingatlan.com/images/favicons/msapplication-wide-310x150.png">
    <meta name="msapplication-square310x310logo" content="https://ingatlan.com/images/favicons/msapplication-square-310x310.png">
    <link rel="stylesheet" type="text/css" href="https://ingatlan.com/build/5596.css?v=8e8ec5cdbd4c49332f7c">
    <link rel="stylesheet" type="text/css" href="https://ingatlan.com/build/6722.css?v=68b7b0bd511c6ad0bfbf">
</head>
<body class="bg-concrete" data-new-gr-c-s-check-loaded="14.1186.0" data-gr-ext-installed="">

<header class="primary-header z-index-500" data-controller="header">
    <nav class="navbar navbar-expand-lg navbar-light position-relative shadow-sm bg-white">
        <div class="container-xl justify-content-between position-relative">
            <a class="navbar-brand mx-auto mx-lg-0" href="https://ingatlan.com">
                <img id="header-logo" src="https://ingatlan.com/images/logo.svg" alt="ingatlan.com logo" width="167" height="30">
            </a>
            <div class="navbar-backdrop d-none position-fixed top-0 start-0 w-100 h-100"></div>
        </div>
    </nav>
</header>

<div class="container-fluid px-0">
    <div class="d-flex flex-column px-0 py-0 px-lg-3 py-lg-2">
        <div class="d-flex d-sm-none bg-midnight px-3 p-2">
            <div class="d-flex flex-grow-1">
                <div class="d-flex align-items-center flex-fill">
                    <div class="d-flex flex-column-reverse flex-sm-column placeholder-glow">
                        <span class="px-0 d-block d-sm-none fs-9 text-start text-bright">
                            {{name}} - Lakások, albérletek
                        </span>
                        <span class="px-0 d-none d-sm-block fs-5 fw-bold font-family-secondary text-bright mb-1">
                            {{name}} - Lakások, albérletek
                        </span>
                        <span class="px-0 d-none d-sm-block text-bright">{{results.length}} találat</span>
                        <span class="px-0 d-block d-sm-none fw-bold fs-7 text-start text-bright">{{results.length}} találat</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="list" class="container-xl">
        <div class="row my-3">
            <div class="d-block d-sm-none">
                <div class="row mb-3 d-none d-md-block">
                    <div class="col-6 d-flex flex-column">
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block d-lg-none mb-2">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start px-0">
                        <div class="d-flex flex-column-reverse flex-sm-column placeholder-glow">
                            <span class="px-0 d-block d-sm-none fs-9 text-center text-nickel">
                                {{name}} - Lakások, albérletek
                            </span>
                            <span class="px-0 d-none d-sm-block fs-5 fw-bold font-family-secondary text-onyx mb-1">
                                {{name}} - Lakások, albérletek
                            </span>
                            <span class="px-0 d-none d-sm-block text-nickel">{{results.length}} találat</span>
                            <span class="px-0 d-block d-sm-none fw-bold fs-7 text-center text-nickel">{{results.length}} találat</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 row d-none d-lg-block mb-2 px-0">
                <div class="d-flex flex-column-reverse flex-sm-column placeholder-glow">
                    <span class="px-0 d-block d-sm-none fs-9 text-center text-nickel">
                        {{name}} - Lakások, albérletek
                    </span>
                    <span class="px-0 d-none d-sm-block fs-5 fw-bold font-family-secondary text-onyx mb-1">
                        <h1 class="fs-5 fw-bold m-0 lh-base">
                            {{name}} - Lakások, albérletek
                        </h1>
                    </span>
                    <span class="px-0 d-none d-sm-block text-nickel">{{results.length}} találat</span>
                    <span class="px-0 d-block d-sm-none fw-bold fs-7 text-center text-nickel">{{results.length}} találat</span>
                </div>
            </div>
        </div>
        <div class="row mb-5 align-items-start">
            <div class="col-12 col-lg-8 col-xl-8 bg-bright p-0 border border-1 border-ash rounded-5">
                <div class="p-3 pb-0"></div>
                <div class="row mx-0">
                    {{#each results}}
                    <div class="px-3">
                        <a href="{{{this.url}}}" target="_blank"
                           class="listing-card   position-relative row btn btn-outline-light fw-normal mx-0 p-0 d-flex text-start bg-bright display-on-hover-container mb-4">
                            <div class="listing-card-photo-container col-12 col-md-4 d-flex ps-0 px-0 position-relative">
                                <div class="bg-ash rounded-5 w-100 h-100 overflow-hidden d-flex">
                                    <img src="{{{this.imageUrl}}}"
                                         class="listing-card-image img-fluid rounded-top-5 rounded-md-5 w-100 border border-1 border-light" alt="Ingatlan kép"
                                         onerror="this.src='https://ingatlan.com/images/listing-image-placeholder.svg';this.removeAttribute('alt');">
                                </div>
                            </div>
                            <div class="listing-card-content col-12 col-md-8 py-3 py-md-3 px-3 position-relative">
                                <div class="d-flex flex-column h-100">
                                    <div class="row">
                                        <div class="col-10 col-sm-9 col-md-11">
                                            <div class="w-100">
                                                <div class="d-flex align-items-center">
                                                    <span class="fw-bold fs-5 text-onyx me-3 font-family-secondary">{{this.price}}</span>
                                                    <span class="fs-7 text-nickel align-self-end align-self-md-center mb-1 mb-md-0 font-family-base listing-card-area-prices"></span>
                                                </div>
                                                <span class="d-block fw-500 fs-7 text-onyx font-family-secondary">{{this.address}}</span>
                                            </div>
                                            <div class="w-100 mt-3">
                                                <div class="d-flex justify-content-start">
                                                    <div class="d-flex flex-column text-center me-4">
                                                        <span class="fs-8 text-nickel font-family-secondary">Alapterület</span>
                                                        <span class="fs-7 text-onyx fw-bold">{{this.area}}</span>
                                                    </div>
                                                    <div class="d-flex flex-column text-center me-4">
                                                        <span class="fs-8 text-nickel font-family-secondary">Szobák</span>
                                                        <span class="fs-7 text-onyx fw-bold">{{this.rooms}}</span>
                                                    </div>
                                                    {{#if this.balconyArea}}
                                                    <div class="d-flex flex-column text-center">
                                                        <span class="fs-8 text-nickel font-family-secondary">Erkély</span>
                                                        <span class="fs-7 text-onyx fw-bold">{{this.balconyArea}}</span>
                                                    </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
